* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
.header{
    position:fixed;
    margin-top: 0px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: red;
    text-shadow: 0 0 25px red, 0 0 50px red;
    transform: scale(1.1)
} 
.navbar a{
    font-size: 20px;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    color:  white;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a:active{
    color: red;
    border-bottom: 2px solid red;
    text-shadow: 0 0 25px red, 0 0 50px red;
    transform: scale(1.1)
}
.resume{
    padding: 10px 30px;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.resume:hover{
    background: red;
    box-shadow: 0 0 25px red;
    color: white;
    transform: scale(1.1);
}
.about{
    width: 100%;
    min-height: 50vh;
    background: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.about-content{
    max-width: 800px;
}
.education{
    width: 100%;
    min-height: 50vh;
    background: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.education-content{
    max-width: 800px;
}
.experience{
    width: 100%;
    min-height: 50vh;
    background: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.experience-content{
    max-width: 800px;
}
.projects{
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.projects-content{
    max-width: 800px;
}
.links{
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.links-content{
    max-width: 800px;
}
.experience{
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.experience-content{
    max-width: 800px;
}